<h1 class="text-center">Drummers list</h1>

<div class="row">
  <% @drummers.each do |drummer| %>

  <div class="media">
    <div class="media-left">
      <%= cl_image_tag(drummer.picture, :width => 70, :height => 70,
        :crop => :thumb, :gravity => :face, :radius => :max,
        class: "media-object") %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to drummer.name , edit_drummer_path(drummer) %></h3>
      <p><%= drummer.updated_at %></p>

    </div>
  </div>

  <% end %>
</div>
<div class="row">
  <%= link_to "Add drummer", new_drummer_path, class: "btn btn-primary btn-block" %>
</div>
