<header id="welcome">
  <div class="welcome">
    <div class="col-md-12 text-center">
      <h1 class="brand">Drums and Drummers</h1>
      <h2 class="brand">Are you a drums nerd ?</h2>

      <%= link_to icon('gamepad') + " Test your knowledge", { controller: "drummers" , action: "play"}, class: "btn btn-primary"  %>

    </div>
  </div>
</header>
