<header id="welcome">
  <div class="container-fluid welcomebg">
    <div class="welcome">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="brand">Drums and Drummers</h1>
          <h2 class="brand">Are you a drums nerd ?</h2>
          <a href="#" class="btn btn-default">Test your knowledge</a>
        </div>
      </div>
    </div>
  </div>
</header>
