<header id="welcome">
  <div class="container welcome">
    <div class="row">
      <div class="col-md-8 text-center">
        <h1 class="brand">Drums and Drummers</h1>
        <p>Are you a drums nerd ?</p>
        <a href="#" class="btn btn-default">Test your knowledge</a>
      </div>
    </div>
  </div>

</header>
