<h1 class="text-center">Drums list</h1>

<div class="row">
  <%= @drums.each do |drum| %>
    <% i =  cl_image_tag(drum.picture, :width => 70, :height => 70, class: "img-rounded") %>

    <%= link_to i , drum_path(drum) %>
    <%= link_to "Remove", drum_path(drum) , method: :delete , class: "btn btn-danger btn-block" %>


  <% end %>
</div>
<div class="row">
  <%= link_to "Add drum", new_drum_path, class: "btn btn-primary btn-block" %>
</div>
