<div class="col-xs-5 col-md-3">
  <p><img src="http://sheebypanda.com/logo.jpg" class="img-rounded img-fluid"/></p>
</diV>
<div class="col-xs-7 col-md-9">
  <h1 class="display-3">Hi, </h1>
</div>
<div class="col-xs-12 col-md-9">
    <p>I'm Sheebypanda, a geek drummer.</p>
    <p>This is my first rails application, a useless game for drums lovers.<br/>
      The code is simple and dirty.</p>
      <p>I'm curently feeding the database, you can propose your favorite drummer at sheebypanda hat gmail dot com.
      If you even have a picture of his drums, that's awesome.
    </p>
    <p>I will inprove the game as I learn rails. Slowly but safely.
      Come back in a few days to see the difference. <i class="fa fa-smile-o"></i>
    </p>
    <p><a class="btn btn-secondary" href="https://github.com/sheebypanda/drums-n-drummers"><i class="fa fa-github"></i> See on GitHub</a></p>
</div>
