<div class="row">
  <div class="col-md-12">
    <h1 class="display-3 text-xs-center mt animated bounceInDown">Congratulation !</h1>
  </div>
</div>
<div class="row">
  <h4 class="center">You have reached the level max, we have no more drums in stock...<br>
    But you can still propose your favorite drummer <%= link_to "here", '/about', class: "animated flash text-primary" %>
  </h4>

  <div class="center">
    <%= link_to icon('reply') + " Play again", '/play', class: "btn btn-secondary animated pulse infinite" %>
  </div>
</div>
