@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #5E2750;
  color:white;
  font-weight: 400;
}

h1, h2, h3{
  font-weight: 300;
}

h1 {
  font-size: 45px;
}

h2{
  font-size: 32px;
  margin: 0.7rem;
}
h3 {
  margin: 0.5rem;
  font-size: 23px;
}

a, a:hover {
  color: white;
  text-decoration: none;
}
.center {
  text-align: center;
}
.lvl {
  margin-top: 1rem;
}
.mt {
  margin-top: 15%;
}
