@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,800);

body {
  background-color: #373A3C;
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
}
.display-3 {
  font-weight: 800;
}
a, a:hover {
  color: white;
  text-decoration: none;
}
.center {
  text-align: center;
}
.lvl {
  margin-top: 1rem;
}
.mt {
  margin-top: 15%;
}
.btn-drummer {
  padding: 0.2rem;
}
.popover-content {
color: black;
}
